<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Welcome, nature is waiting for you!</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link href="#" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/main.css}" media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/font-awesome/font-awesome.css}"/>

    <!--<link href="/css/blog-post.css" rel="stylesheet"/>-->
</head>
<body>

<!-- navigation -->
<header>

    <nav class="white" role="navigation">

        <div class="nav-wrapper container">

            <a id="logo-container" href="#" class="brand-logo">Beauty's right behind you</a>

            <ul class="right hide-on-med-and-down">

                <li><a href="#" th:href="@{/blog}">Blog</a></li>

                <li><a href="#">About Me</a></li>

                <li th:if="${user == null}">
                    <a href="#" th:href="@{/login}">Login</a>
                </li>

                <li th:if="${user == null}">
                    <a href="#" th:href="@{/signup}">
                        Sign up
                    </a>
                </li>

                <li th:if="${user != null}">
                    <a href="#" th:href="@{/logout}">
                        <i class="material-icons">power_settings_new</i>
                    </a>
                </li>

                <li th:if="${user != null}" class="truncate">
                    <a href="#">Hello, <span th:text="${user.email}"></span></a>
                </li>

            </ul>

            <ul id="nav-mobile" class="side-nav">

                <li><a href="#" th:href="@{/blog}">Blog</a></li>

                <li><a href="#">About Me</a></li>

                <li th:if="${user == null}">
                    <a href="#" th:href="@{/login}">Login</a>
                </li>

                <li th:if="${user == null}">
                    <a href="#" th:href="@{/signup}">
                        Sign up
                    </a>
                </li>

                <li th:if="${user != null}">
                    <a href="#" th:href="@{/logout}">
                        <i class="material-icons">power_settings_new</i>
                    </a>
                </li>

                <li th:if="${user != null}" class="truncate">
                    <a href="#">Hello, <span th:text="${user.email}"></span></a>
                </li>

            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        </div>

    </nav>

</header>

<div class="row">
    <div class="col s12 well blog-title">
        <h1>The blog which makes you happy!</h1>
    </div>
</div>

<div>

    <div class="row post-wrap">

        <div class="col s8">

            <!-- Post -->
            <article id="post" th:attr="data-post-id=${post.id}" class="col s12" th:if="${post != null}">

                <!-- Date/Time -->
                <p th:inline="text">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Posted on [[${#temporals.day(post.created)}]] [[${#temporals.monthName(post.created)}]],
                    [[${#temporals.year(post.created)}]] at [[${#temporals.format(post.created, 'HH:mm')}]] |
                    <a href="#" class="comments">[[${#sets.size(post.comments)}]] comments</a>
                </p>

                <!-- Tags -->
                <p th:if="${!#sets.isEmpty(post.tags)}">
                    <span class="glyphicon glyphicon-tags"></span>&nbsp;
                    <span class="chip" th:each="tag: ${post.tags}" th:text="${tag.name}">tags</span>
                </p>

                <div class="divider"></div>

                <h5 class="blog-post-title" th:text="${post.title}"></h5>

                <!-- Preview Image -->
                <a href="#!">
                    <img class="img-responsive" src="#"
                         th:src="${post.picture}? @{/uploads/blog/{path}(path=${post.picture})}
                             : @{/images/default_blog_picture.jpg}"/>
                </a>

                <hr/>

                <!-- Post Content -->
                <section class="lead flow-text" th:text="${post.content}"></section>

                <hr/>
                <hr/>

                <!-- after post -->

                <p class="center">
                    <span class="flow-text valign-wrapper">
                        <b>Do you like this post? &nbsp;&nbsp;</b>
                    </span>

                    <a id="rate-star" class="star">
                        <i class="material-icons medium">star</i>
                    </a>

                </p>

                <hr/>
                <hr/>

                <br/>
                <br/>
                <br/>

            </article>

            <!-- Comments form -->
            <div class="row">

                <div class="col s12">

                    <div class="well">

                        <h5>Leave a comment</h5>

                        <div class="row">

                            <form id="comment-form" method="POST" class="col s12" action="#"
                                  th:action="@{/blog/post/comment}">

                                <div class="row">

                                    <div class="input-field col s12">

                                        <textarea id="comment" name="content" class="materialize-textarea"
                                                  data-length="1000"></textarea>

                                        <label for="comment">Textarea</label>

                                    </div>

                                    <div class="input-field col m6 offset-m6 s12">
                                        <button class="btn waves-effect waves-light col s12" type="submit"
                                                name="action">
                                            Submit<i class="material-icons right">send</i>
                                        </button>
                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Comments -->
            <div class="row">

                <hr/>

                <div id="comments" class="col s12" th:if="${!#sets.isEmpty(post.comments)}">

                    <div th:each="comment: ${post.comments}" th:inline="text">
                        <h5>[[${comment.commentorName}]]
                            <small>
                                [[${#temporals.day(comment.created)}]] [[${#temporals.monthName(comment.created)}]],
                                [[${#temporals.year(comment.created)}]] at [[${#temporals.format(comment.created,
                                'HH:mm')}]]
                            </small>
                        </h5>
                        <blockquote th:text="${comment.content}">
                            Winter is coming!
                        </blockquote>
                    </div>

                </div>

            </div>

        </div>

        <!-- sidebar -->
        <div class="col s4">

            <br/>

            <!-- Popular posts -->
            <div class="well hide-on-med-and-down">

                <h5><a href="#"><i class="material-icons">grade</i></a> Popular posts</h5>

                <div class="row">

                    <div class="col s12">

                        <ul class="collection">
                            <li class="collection-item avatar">
                                <a href="#">
                                    <img src="/images/background3.jpg" class="circle"/>
                                    <span class="title truncate">Ужас, все в шоке! Навальный умер! fklsdnfkdsnfn sdlkfn knfsd kln</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <!-- Recent posts -->
            <div class="well hide-on-med-and-down">

                <h5><a href="#"><i class="material-icons">schedule</i></a> Recent posts</h5>

                <div class="row">

                    <div class="col s12">

                        <ul class="collection">
                            <li class="collection-item avatar">
                                <a href="#">
                                    <img src="/images/background9.jpg" class="circle"/>
                                    <span class="title truncate">Счастье! ОН выжил!</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <!-- Tags -->
            <div class="well hide-on-med-and-down">

                <h5><a href="#"><i class="fa fa-tags" aria-hidden="true"></i></a> Tags</h5>

                <div class="row">
                    <div class="col s12">
                        <div class="chip">Арсланов - человек года!</div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- footer -->
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Bla bla bla</h5>
                <p class="grey-text text-lighten-4">Blablablabla blablabla blablablablabla bla blabla blablabla. blabla
                    blablabla blabla
                    blablablabla blablablabla blablablablablabla bla blabla blablablabla
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="#!">It's a trap!</a></li>
                    <li><a class="white-text" href="#!">Don't follow this link!</a></li>
                    <li><a class="white-text" href="#!">I warned you ...</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="https://vk.com/tat.arin">Ramil Safin © 2017</a>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="" th:src="@{/js/materialize.min.js}"></script>
<script src="" th:src="@{/js/init.js}"></script>

<script th:inline="text">
    $(document).ready(function () {

        $('#comment-form').on('submit', function (e) {

            e.preventDefault();

            var comment = $('#comment');

            var body = {
                content: comment.val(),
                postId: $('#post').data('post-id')
            };

            fetch('/blog/post/comment', {
                method: 'POST',
                body: JSON.stringify(body),
                headers: {"Content-Type": "application/json"},
                credentials: 'include'
            }).then(function (resp) {
                if (resp.status !== 200) {
                    console.log(resp);
                    return;
                }
                return resp.json();
            }).then(function (json) {

                $('#comments').prepend("<div> <h5>" + json.commenterName + " <small>" + json.created +"</small>" +
                    "</h5> " +
                    "<blockquote>" + json.content +"</blockquote>" +
                    "</div>");

                comment.val(''); // clear comment form
            });
        });

    });
</script>

</body>
</html>